<main class="container mt-5" id="detallePregunta" >
    <div class="row">
      <div class="col-12">
        <h2><svg class="arrow" (click)="verPreguntas()" width="36" height="36" viewBox="0 0 36 36"><path d="M16,0,16,32,0,16Z"/></svg> {{detalle.titulo}}</h2>
      </div>
    </div>
    <div class="row question">
      <div class="col-1 text-center">
        <div><svg class="arrow" onclick="votar(1)" width="36" height="36" viewBox="0 0 36 36"><path d="M2 26h32L18 10 2 26z"></path></svg></div>
        <div class="h4 text-muted m-0">45</div>
        <div><svg class="arrow" onclick="votar(-1)" width="36" height="36" viewBox="0 0 36 36"><path d="M2 10h32L18 26 2 10z"></path></svg></div>
      </div>
      <div class="col-10">
        {{detalle.descripcion}}.<br>
        
      </div>
      <div class="col-8">
        <div *ngFor="let hash of detalle.hashtags">
          <span class="badge badge-warning">{{hash}}</span>
          <!-- <span class="badge badge-warning">angular-http</span>
          <span class="badge badge-warning">modules</span> -->
        </div>
      </div>
      <div class="col-4">
        <div class="float-right text-center user-card">
          <div class="text-muted small">{{detalle.fecha}}</div>
          <div *ngFor="let usuario of detalle.usuarios">
              <img src="../assets/{{usuario.urlImagen}}" class="small-profile-pic mr-2">{{usuario.nombre}}</div>
        </div>
      </div>
    </div>
    <div>
      <h5>2 Respuestas</h5>
    </div>
    <!-- Respuesta -->
    <div class="row answer">
      <div class="col-1 text-center">
        <div><svg class="arrow" onclick="votar(1)" width="36" height="36" viewBox="0 0 36 36"><path d="M2 26h32L18 10 2 26z"></path></svg></div>
        <div class="h4 text-muted m-0">105</div>
        <div><svg class="arrow" onclick="votar(-1)" width="36" height="36" viewBox="0 0 36 36"><path d="M2 10h32L18 26 2 10z"></path></svg></div>
      </div>
      <div class="col-10">
        In version 37 you need to do this:
        <pre>///< reference path="typings/angular2/http.d.ts"/ ><br>import Http from "angular2/http";<br>And run this tsd command:<br>tsd install angular2/http</pre>
      </div>
      <div class="col-12">
        <div class="float-right text-center user-card">
          <div class="text-muted small">12/12/2012</div>
          <div><img src="../assets/images/profile-pics/picoro.jpg" class="small-profile-pic mr-2">Picoro</div>
        </div>
      </div>
    </div>
    <!-- Fin Respuesta -->
    <!-- Respuesta -->
    <div class="row answer">
      <div class="col-1 text-center">
        <div><svg class="arrow" onclick="votar(1)" width="36" height="36" viewBox="0 0 36 36"><path d="M2 26h32L18 10 2 26z"></path></svg></div>
        <div class="h4 text-muted m-0">10</div>
        <div><svg class="arrow" onclick="votar(-1)" width="36" height="36" viewBox="0 0 36 36"><path d="M2 10h32L18 26 2 10z"></path></svg></div>
      </div>
      <div class="col-10">
        In version 37 you need to do this:
        <pre>import Http from "angular2/http";</pre>
      </div>
      <div class="col-12">
        <div class="float-right text-center user-card">
          <div class="text-muted small">12/12/2012</div>
          <div><img src="../assets/images/profile-pics/roshi.jpg" class="small-profile-pic mr-2">Maestro Roshi</div>
        </div>
      </div>
    </div>
    <!-- Fin Respuesta -->
  
    <!-- Formulario nueva respuesta -->
    <div class="row">
      <div class="col-12">
        <h5>Nueva Respuesta</h5>
        <textarea class="form-control" cols="30" rows="7" placeholder="Respuesta"></textarea>
        <span class="small text-muted">Etiquetas permitidas: br, pre</span><br>
        <button class="btn btn-outline-warning">Publicar</button>
      </div>
    </div>
    <hr class="my-5">
 
</main>