<router-outlet></router-outlet>
<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
  <a class="navbar-brand" href="#"><img class="logo" src="../assets/images/logo.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0 ml-auto">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="button">Search</button>
    </form>
    <img src="../assets/{{usuarioSeleccionado}}" class="profile-pic" (click)="modalUsuarios(contentListaUsuarios)">
  </div>
</nav>
<!--lista de Preguntas-->
  <div [ngClass]="{'visible':regionVisible == 'listadoPreguntas', 'no-visible':regionVisible == 'detallePregunta'}" >
    <app-lista-preguntas (onGuardarPregunta)="verTitulo($event)"  (onVerDetallePregunta)="verDetalle($event)" (onVerDetallePregunta)="verRespuesta($event)" #listadoPregunta></app-lista-preguntas>
  </div>
  


<!--detalle de Pregunta-->
 <div [ngClass]="{'visible':regionVisible == 'detallePregunta', 'no-visible':regionVisible != 'detallePregunta'}">
  <app-detalle-preguntas (onVerPregunta)="verPregunta($event)" #detallePregunta></app-detalle-preguntas>
 </div> 
  

<!--Modal usuarios NgBootstrap-->
<ng-template #contentListaUsuarios let-modal>
  <div class="modal-header">
    <!-- <h4 class="modal-title" id="modal-basic-title">Profile update</h4> -->
    <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-3 p-0 m-0" *ngFor="let usuario of usuarios">
        <img src="../assets/{{usuario.urlImagen}}" class="img-fluid select-image" (click)="seleccionarUsuario(usuario)">
      </div>
      <!-- <div class="col-3 p-0 m-0">
        <img src="../assets/images/profile-pics/picoro.jpg" class="img-fluid select-image" onclick="seleccionarUsuario(2)">
      </div>
      <div class="col-3 p-0 m-0">
        <img src="../assets/images/profile-pics/vegeta.jpg" class="img-fluid select-image" onclick="seleccionarUsuario(3)">
      </div>
      <div class="col-3 p-0 m-0">
        <img src="../assets/images/profile-pics/roshi.jpg" class="img-fluid select-image" onclick="seleccionarUsuario(4)">
      </div>
      <div class="col-3 p-0 m-0">
        <img src="../assets/images/profile-pics/trunks.jpg" class="img-fluid select-image" onclick="seleccionarUsuario(5)">
      </div>
      <div class="col-3 p-0 m-0">
        <img src="../assets/images/profile-pics/videl.jpg" class="img-fluid select-image" onclick="seleccionarUsuario(6)">
      </div>
      <div class="col-3 p-0 m-0">
        <img src="../assets/images/profile-pics/mr_satan.jpg" class="img-fluid select-image" onclick="seleccionarUsuario(7)">
      </div>
      <div class="col-3 p-0 m-0">
        <img src="../assets/images/profile-pics/patricio.jpg" class="img-fluid select-image" onclick="seleccionarUsuario(8)">
      </div> -->
    </div>
  
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Close click')">Cerrar</button>
  </div>
</ng-template>
<!-- Modal usuarios -->
<div class="modal fade" id="modal-usuarios" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-3 p-0 m-0">
            <img src="../assets/images/profile-pics/goku.jpg" class="img-fluid select-image" onclick="seleccionarUsuario(1)">
          </div>
          <div class="col-3 p-0 m-0">
            <img src="../assets/images/profile-pics/picoro.jpg" class="img-fluid select-image" onclick="seleccionarUsuario(2)">
          </div>
          <div class="col-3 p-0 m-0">
            <img src="../assets/images/profile-pics/vegeta.jpg" class="img-fluid select-image" onclick="seleccionarUsuario(3)">
          </div>
          <div class="col-3 p-0 m-0">
            <img src="../assets/images/profile-pics/roshi.jpg" class="img-fluid select-image" onclick="seleccionarUsuario(4)">
          </div>
          <div class="col-3 p-0 m-0">
            <img src="../assets/images/profile-pics/trunks.jpg" class="img-fluid select-image" onclick="seleccionarUsuario(5)">
          </div>
          <div class="col-3 p-0 m-0">
            <img src="../assets/images/profile-pics/videl.jpg" class="img-fluid select-image" onclick="seleccionarUsuario(6)">
          </div>
          <div class="col-3 p-0 m-0">
            <img src="../assets/images/profile-pics/mr_satan.jpg" class="img-fluid select-image" onclick="seleccionarUsuario(7)">
          </div>
          <div class="col-3 p-0 m-0">
            <img src="../assets/images/profile-pics/patricio.jpg" class="img-fluid select-image" onclick="seleccionarUsuario(8)">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>


